/* Stylehsheet */
@import "semantic";

body {
    background: #111;
    background: linear-gradient(#edb859, #341902);
    background-attachment: fixed; 
}

#card {
    margin: 50px auto;
    width: 400px;
    padding-bottom: 10px;
    
    #hamilton {
        margin-bottom: 20px;
        }
    
    select {
        text-transform: none;
        width: 90%;
        margin: 0 auto 5px auto;
        }
    
    label {
        margin: 10px auto 5px auto;
    }
    
    input {
        width: 90%;
        margin: 0px auto 5px auto;
    }
    
    textarea {
        height: 100px;
        width: 90%;
        margin: 10px auto;
    }
    
    button {
        width: 90%;
        margin: 0 auto 10px auto;
    }
}

.ui .card {
    min-width: 400px;
    box-shadow: none;
}